force-app/main/default/flows/Affiliation_Update_Status_Based_On_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Affilliation_Record_Count</name>
        <label>Assign Existing Affilliation Record Count</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ExistingAffilliationRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ExistingAffilliatedRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetExistingAffilliationRecordToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAffilliatedRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetExistingAffilliationCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Affilliation_Records</name>
        <label>Assign Existing Affilliation Records</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Existing_Affilliation_Records_Interation.npe5__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Affilliation_Records_Interation.npe5__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedAffilliatedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Affilliation_Records_Interation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Affilliation_Records_Interation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_New</name>
        <label>Check New</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>When_Affiliation_has_No_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Newly_Created_Affilliation_Record</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetExistingAffilliationCount</name>
        <label>GetExistingAffilliationCount</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Existing_Affilliation_Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingAffilliationRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Affiliation_has_No_End_Date</targetReference>
            </connector>
            <label>Existing Affilliation Count : 0</label>
        </rules>
        <rules>
            <name>Existing_Affillition_Count_1_And_Action_is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingAffilliationRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Affilliation_Records_Interation</targetReference>
            </connector>
            <label>Existing Affillition Count : 1 And Action is Update</label>
        </rules>
        <rules>
            <name>Updating_Existing_Affilliation_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Affiliation_has_No_End_Date</targetReference>
            </connector>
            <label>Updating Existing Affilliation Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Affiliation has No End Date</description>
        <name>When_Affiliation_has_No_End_Date</name>
        <label>When Affiliation has No End Date</label>
        <locationX>270</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Set_Status_as_Former</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>When Affiliation has End Date</defaultConnectorLabel>
        <rules>
            <name>When_Affiliation_has_No_End_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe5__EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_as_Current</targetReference>
            </connector>
            <label>When Affiliation has No End Date Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Affiliation - Update Status When {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affiliation - Update Status Based On End Date</label>
    <loops>
        <name>Existing_Affilliation_Records_Interation</name>
        <label>Existing Affilliation Records Interation</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>ExistingAffilliatedRecords</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Affilliation_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_Affilliation_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Affilliation</name>
        <label>Get Existing Affilliation</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Existing_Affilliation_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe5__Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe5__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>ExistingAffilliatedRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>npe5__EndDate__c</queriedFields>
        <queriedFields>npe5__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Status_as_Current</name>
        <label>Set Status as Current</label>
        <locationX>138</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_as_Former</name>
        <label>Set Status as Former</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Affilliation_Record</name>
        <label>Update Existing Affilliation Record</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Check_New</targetReference>
        </connector>
        <inputReference>UpdatedAffilliatedRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Newly_Created_Affilliation_Record</name>
        <label>Update Newly Created Affilliation Record</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>When_Affiliation_has_No_End_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>npe5__EndDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Affilliation</targetReference>
        </connector>
        <object>npe5__Affiliation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingAffilliatedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>ExistingAffilliationCount</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExistingAffilliationRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GetExistingAffilliationRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedAffilliatedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
</Flow>
