force-app/main/default/flows/Application_Opened_Email_Application_Nurturing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Email_Activity</name>
        <label>Create Email Activity</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>New_Task_Custom</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Update_Last_Application_Nurturing_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Application Opened Email Sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>(Coco) 0.1.2 App Pipeline - Unsub Online App open. Rnd 3</stringValue>
            </value>
        </inputParameters>
        <nameSegment>New_Task_Custom</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Application_Opened_Email_action</name>
        <label>Send Application Opened Email</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>apply@teachforaustralia.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>When a new Application is opened (with a valid Contact), send an email to the applicant containing the link to Part B of the application form.</description>
    <environments>Default</environments>
    <interviewLabel>Application Opened Email (Application Nurturing) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Opened Email (Application Nurturing)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Application Opened Email Template</description>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Application_Opened_Email_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>(Coco) 0.1.2 App Pipeline - Unsub Online App open. Rnd 3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Last Application Nurturing Activity field to &apos;Initial Application Opened email&apos;</description>
        <name>Update_Last_Application_Nurturing_Activity</name>
        <label>Update Last Application Nurturing Activity</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Last_Application_Nurturing_Activity__c</field>
            <value>
                <stringValue>Application Opened Email sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Application_Nurturing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Application Opened Email</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HTMLBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial, sans-serif;&quot;&gt;Hi {!$Record.Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for opening an application for the&lt;/span&gt;&lt;a href=&quot;https://teachforaustralia.org/our-programs/leadership-development-program/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(32, 33, 36); font-family: Arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;Leadership Development Program&amp;nbsp;&lt;/a&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;(LDP), Cohort 2025. I’m Coco, and I’ll be supporting you through the Teach For Australia (TFA) Selection Process.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;Before moving forward with the selection process, I encourage you to:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif;&quot;&gt;1. Check that you meet the Program Requirements, i&lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt; color: rgb(32, 33, 36);&quot;&gt;ncluding:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Placement&amp;nbsp;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;–&amp;nbsp;&lt;/span&gt;You must be willing to accept a placement in these&amp;nbsp;&lt;a href=&quot;https://teachforaustralia.org/our-programs/leadership-development-program/learning-area-requirements/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;jurisdictions&lt;/a&gt;: VIC, WA, SA, NT, or TAS.&lt;/li&gt;&lt;li&gt;Start date&amp;nbsp;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;–&amp;nbsp;&lt;/span&gt;&amp;nbsp;you must be able to start the&amp;nbsp;&lt;a href=&quot;https://teachforaustralia.org/our-programs/leadership-development-program/ldp-handbook-form/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;full-time program&lt;/a&gt;&amp;nbsp;in mid-November 2024.&amp;nbsp;&lt;/li&gt;&lt;li&gt;Eligibility&amp;nbsp;&amp;nbsp;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;–&amp;nbsp;&lt;/span&gt;&amp;nbsp;check that you meet the&amp;nbsp;&lt;a href=&quot;https://teachforaustralia.org/our-programs/leadership-development-program/learning-area-requirements/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;learning area requirements,&lt;/a&gt;&amp;nbsp;and are eligible for this program.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;2. Book a call with a Recruiter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;During this call, we&apos;ll get to know more about you and your motivations for joining the program, as well as discuss any questions you may have about the TFA, and the selection process.&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://outlook.office365.com/book/BookacallwithCoco2024@teachforaustralia.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Book a call&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;3. Attend our Application Workshop&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;Learn more about the competencies and how to write a successful application, by attending our upcoming&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://teachforaustralia.org/events/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;Application Workshop&lt;/a&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;If you have any questions or concerns,&amp;nbsp;please email me.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 12pt; color: rgb(32, 33, 36);&quot;&gt;I&apos;ll be in touch with some further tips. Visit&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 12pt; color: rgb(32, 33, 36);&quot;&gt;this link&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 12pt; color: rgb(32, 33, 36);&quot;&gt;&amp;nbsp;to continue working on your written application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; color: rgb(32, 33, 36); background-color: rgb(255, 255, 255);&quot;&gt;IMPORTANT: This is the final round to apply for Cohort 2025. We encourage you to submit your application within five days of opening it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 12pt; color: rgb(32, 33, 36);&quot;&gt;---&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt; color: rgb(32, 33, 36); background-color: rgb(255, 255, 204);&quot;&gt;&lt;em&gt;Upcoming Events&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://teachforaustralia.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 12pt; color: rgb(32, 33, 36);&quot;&gt;TFA Events&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;Speak soon,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 34, 34); font-family: arial, helvetica, sans-serif; font-size: 11pt;&quot;&gt;Coco Carter (she, her, hers)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: arial, helvetica, sans-serif; font-size: 11pt;&quot;&gt;Recruitment Manager&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: arial, helvetica, sans-serif; font-size: 11pt;&quot;&gt;Graduates &amp;amp; Early Career Professionals, VIC, NT, ACT, OS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 13.32px;&quot;&gt;On Wadawurrung Country&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 10pt;&quot;&gt;Teach For Australia&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 10pt;&quot;&gt;33 Lincoln Square South, Carlton VIC 3053&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 10pt;&quot;&gt;Phone w. +61 3 8640 4500 |&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: rgb(34, 34, 34);&quot;&gt;coco.carter@teachforaustralia.org |&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;http://teachforaustralia.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit; font-size: 10pt; color: rgb(17, 85, 204);&quot;&gt;teachforaustralia.org&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is a reminder to conduct the initial conversation call with the applicant.
Once actioned, update the Stage Reason based on the outcome of the call attempt, mark this task as completed and then the activity will automatically be logged against the Contact and their Application.</text>
    </textTemplates>
    <textTemplates>
        <name>TextBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.First_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for opening an application for the Leadership Development Program (LDP), Cohort 2025. I’m Coco, and I’ll be supporting you through the Teach For Australia (TFA) Selection Process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before moving forward with the selection process, I encourage you to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;1. Check that you meet the Program Requirements, including:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Placement – You must be willing to accept a placement in these jurisdictions: VIC, WA, SA, NT, or TAS.&lt;/p&gt;&lt;p&gt;Start date –&amp;nbsp;you must be able to start the full-time program in mid-November 2024.&lt;/p&gt;&lt;p&gt;Eligibility –&amp;nbsp;check that you meet the learning area requirements, and are eligible for this program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;2. Book a call with a Recruiter&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;During this call, we&apos;ll get to know more about you and your motivations for joining the program, as well as discuss any questions you may have about the TFA, and the selection process. Book a call&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;3. Attend our Application Workshop&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Learn more about the competencies and how to write a successful application, by attending our upcoming Application Workshop.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions or concerns, please email me. I&apos;ll be in touch with some further tips. Visit this link to continue working on your written application.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;IMPORTANT: This is the final round to apply for Cohort 2025. We encourage you to submit your application within five days of opening it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;---&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Upcoming Events&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;TFA Events&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Speak soon,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Coco Carter (she, her, hers)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recruitment Manager&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Graduates &amp;amp; Early Career Professionals, VIC, NT, ACT, OS&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;On Wadawurrung Country&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Teach For Australia&lt;/p&gt;&lt;p&gt;33 Lincoln Square South, Carlton VIC 3053&lt;/p&gt;&lt;p&gt;Phone w. +61 3 8640 4500 |&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;coco.carter@teachforaustralia.org | teachforaustralia.org&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>This is a reminder to conduct the initial conversation call with the applicant.
Once actioned, update the Stage Reason based on the outcome of the call attempt, mark this task as completed and then the activity will automatically be logged against the Contact and their Application.</description>
        <name>TaskDescription2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
