force-app/main/default/flows/Application_Assignment_to_Recruitment_Managers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Degree_Institution</name>
        <label>Degree Institution</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_to_Recruitment_Manager_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monash_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Degree_Institution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monash University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Monash University</label>
        </rules>
        <rules>
            <name>University_of_Melbourne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Degree_Institution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>University of Melbourne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>University of Melbourne</label>
        </rules>
    </decisions>
    <decisions>
        <name>State</name>
        <label>State</label>
        <locationX>1502</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Capital Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Recruitment_Manager_1</targetReference>
            </connector>
            <label>ACT</label>
        </rules>
        <rules>
            <name>QLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queensland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_1</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_1</targetReference>
            </connector>
            <label>SA</label>
        </rules>
        <rules>
            <name>Overseas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overseas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Recruitment_Manager_2</targetReference>
            </connector>
            <label>Overseas</label>
        </rules>
        <rules>
            <name>NT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northern Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_2</targetReference>
            </connector>
            <label>NT</label>
        </rules>
        <rules>
            <name>WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Western Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Recruitment_Manager_3</targetReference>
            </connector>
            <label>WA</label>
        </rules>
        <rules>
            <name>NSW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New South Wales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_3</targetReference>
            </connector>
            <label>NSW</label>
        </rules>
        <rules>
            <name>TAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tasmania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Recruitment_Manager_3</targetReference>
            </connector>
            <label>TAS</label>
        </rules>
        <rules>
            <name>VIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Victoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Degree_Institution</targetReference>
            </connector>
            <label>VIC</label>
        </rules>
    </decisions>
    <description>When either the State or Degree Institution field of an Application is updated, the Application is assigned to the corresponding Recruitment Manager to oversee.</description>
    <environments>Default</environments>
    <interviewLabel>Application Assignment to Recruitment Managers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Assignment to Recruitment Managers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_to_Recruitment_Manager_1</name>
        <label>Assign to Recruitment Manager 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RecruitmentManager1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Recruitment_Manager_2</name>
        <label>Assign to Recruitment Manager 2</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RecruitmentManager2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Recruitment_Manager_3</name>
        <label>Assign to Recruitment Manager 3</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RecruitmentManager3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>State</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Degree_Institution__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>User ID for Recruitment Manager (Coco Carter)</description>
        <name>RecruitmentManager1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0053b00000BnG8rAAF</stringValue>
        </value>
    </variables>
    <variables>
        <description>User ID for Recruitment Manager 2 (Sana Jamali)</description>
        <name>RecruitmentManager2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0053b00000BnBBbAAN</stringValue>
        </value>
    </variables>
    <variables>
        <description>User ID for Recruitment Manager 3 (James Carrocci)</description>
        <name>RecruitmentManager3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005Rb000001BZ0HIAW</stringValue>
        </value>
    </variables>
</Flow>
