force-app/main/default/flows/Contact_Create_Donor_Affilation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Creates a donor affiliation record when a donatation is received</description>
    <environments>Default</environments>
    <formulas>
        <name>TeachForAustraliaAccountLookup</name>
        <dataType>String</dataType>
        <expression>{!$Label.TFA_Default_Account}</expression>
    </formulas>
    <formulas>
        <name>TODAYSDATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contact - Create Affiliation Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Create Donor Affilation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donor_Affiliation_Record</name>
        <label>Create Donor Affiliation Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.npe01__HomeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Category__c</field>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Donor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Organization__c</field>
            <value>
                <elementReference>defaultAccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__StartDate__c</field>
            <value>
                <elementReference>TODAYSDATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_tfa_account_details</name>
        <label>get tfa account details</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Donor_Affiliation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeachForAustraliaAccountLookup</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>defaultAccountId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <sourceTemplate>Contact_Create_Affiliation_Template</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_tfa_account_details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>defaultAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
