force-app/main/default/flows/Create_Reminder_to_conduct_Second_Call_Application_Nurturing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Call_Activity_Values</name>
        <label>Assign Call Activity Values</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NewActivity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Call_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a reminder to conduct the initial conversation call with the applicant. Once actioned, update the Stage Reason based on the outcome of the call attempt, use the Log Initial Call activity button on this task to capture call details and approve applicant for escalation (if required). Logging the call activity will automatically mark this reminder completed and the call activity will be logged against the Contact and their Application.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Second Call Attempt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Call_Activity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Initial_Call_Completed_Task_Search_Results</name>
        <label>Initial Call Completed Task Search Results</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Call_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Task Found</defaultConnectorLabel>
        <rules>
            <name>Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Initial_Call_Complete_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_app_activity_to_call_completed_already</targetReference>
            </connector>
            <label>Task Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Reminder to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Reminder to conduct Second Call (Application Nurturing)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_Activity</name>
        <label>Create Call Activity</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>NewActivity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Initial_Call_Complete_Task</name>
        <label>Find Initial Call Complete Task</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Call_Completed_Task_Search_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed Initial Conversation Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Call_Record_Type_Id</name>
        <label>Get Call Record Type Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Call_Activity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial_Call_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Last_app_activity_to_call_completed_already</name>
        <label>Set Last app activity to call completed already</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Last_Application_Nurturing_Activity__c</field>
            <value>
                <elementReference>$Record__Prior.Last_Application_Nurturing_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Initial_Call_Complete_Task</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Application_Nurturing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create &apos;Second Attempt at Initial Call&apos; Reminder</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
