force-app/main/default/flows/Create_Reminder_to_conduct_Commitment_Call_Application_Nurturing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewActivity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Commitment_Record_type_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a reminder to conduct the Commitment Discussion call with the applicant as it’s been 17 days since they opened their application.  Once actioned, update the Stage Reason based on the outcome of the call attempt and use the Log a Call activity button on this task to capture call details. Logging the call activity will automatically mark this reminder completed and the call activity will be logged against the Contact and their Application.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Commitment Discussion Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Call_Activity</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Reminder to conduct Commitment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Reminder to conduct Commitment Call (Application Nurturing)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_Activity</name>
        <label>Create Call Activity</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>NewActivity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Commitment_Record_type_id</name>
        <label>Get Commitment Record type id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commitment_Call_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Commitment_Record_type_id</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Application_Nurturing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create &apos;Conduct Commitment Discussion Call&apos; Reminder</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
