force-app/main/default/flows/Create_Reminder_to_conduct_Initial_Call_Application_Nurturing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Call_Activity_Values</name>
        <label>Assign Call Activity Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewActivity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initial_Call_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call - Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivity.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder: Initial Conversation Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Call_Activity</targetReference>
        </connector>
    </assignments>
    <description>When Last Application Nurturing Activity is updated to &apos;Create &apos;Conduct Initial Conversation Call&apos; Reminder&apos;, if applicant hasn&apos;t scheduled an Initial Call, the flow creates a task to remind the Recruitment Manager Queue to conduct the Initial Call.</description>
    <environments>Default</environments>
    <interviewLabel>Create Reminder to conduct Initial Call (Application Nurturing) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Reminder to conduct Initial Call (Application Nurturing)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_Activity</name>
        <label>Create Call Activity</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>NewActivity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Initial_Call_Record_Type_ID</name>
        <label>Get Initial Call Record Type ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Call_Activity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial_Call_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Initial_Call_Record_Type_ID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Application_Nurturing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create &apos;Conduct Initial Conversation Call&apos; Reminder</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Description for reminder task to conduct initial call with applicant.</description>
        <name>TaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is a reminder to conduct the initial conversation call with the applicant. Once actioned, update the Stage Reason based on the outcome of the call attempt, use the Log Initial Call activity button on this task to capture call details and approve applicant for escalation (if required). Logging the call activity will automatically mark this reminder completed and the call activity will be logged against the Contact and their Application.</text>
    </textTemplates>
    <variables>
        <name>NewActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
