force-app/main/default/flows/FLP_Contact_Create_Alumni_Affiliation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Creating the new FLP alumni affiliation and update the previous FLP fellow affiliation end date based on certain condition which mentioned.</description>
    <environments>Default</environments>
    <formulas>
        <name>TODAYSDATE</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FLP Contact - Create Alumni Affiliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLP Contact - Create Alumni Affiliation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>New FLP alumni affiliation is creating when the FLP fellow check box is checked and saved in contact record page</description>
        <name>Creating_FLP_Alumni_Affiliation_Record</name>
        <label>Creating FLP Alumni Affiliation Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Getting_Previous_FLP_Fellow_Affiliation</targetReference>
        </connector>
        <inputAssignments>
            <field>Cohort__c</field>
            <value>
                <elementReference>Get_FLP_Application.Cohort__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.npe01__HomeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Category__c</field>
            <value>
                <stringValue>FLP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Alumni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Organization__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__StartDate__c</field>
            <value>
                <elementReference>TODAYSDATE</elementReference>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_FLP_Application</name>
        <label>Get FLP Application</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creating_FLP_Alumni_Affiliation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FLP_Application__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the details of FLP fellow affiliation to update the end date field in next step</description>
        <name>Getting_Previous_FLP_Fellow_Affiliation</name>
        <label>Getting Previous FLP Fellow Affiliation</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_FLP_Fellow_Affiliation_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fellow</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe5__EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the end date filed of person in his FLP Fellow Affiliation</description>
        <name>Updating_FLP_Fellow_Affiliation_End_Date</name>
        <label>Updating FLP Fellow Affiliation End Date</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Previous_FLP_Fellow_Affiliation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe5__EndDate__c</field>
            <value>
                <elementReference>TODAYSDATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <object>npe5__Affiliation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FLP_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FLP_Alumni__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FLP_Alumni__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.TFA_Default_Account</elementReference>
        </value>
    </variables>
    <variables>
        <name>DefaultAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultAccountIDReecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
