force-app/main/default/flows/LDP_Positions_created_only_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>LDP - Positions (created only) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LDP - Positions (created only) Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_School_Business_Manager_Contact</name>
        <label>Get School Business Manager Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_School_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School__r.Current_Business_Manager__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School_Primary_Contact</name>
        <label>Get School Primary Contact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Placement_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School__r.npe01__One2OneContact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Primary_Contact_to_Position</name>
        <label>Link Primary Contact and BM to Position</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Business_Manager_Email__c</field>
            <value>
                <elementReference>Get_School_Business_Manager_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Primary_Contact_Email__c</field>
            <value>
                <elementReference>Get_School_Primary_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Roll_Placement_Opp_fields_to_Position</name>
        <label>Roll Placement Opp fields to Position</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Link_Primary_Contact_to_Position</targetReference>
        </connector>
        <inputAssignments>
            <field>Elevator_Pitch__c</field>
            <value>
                <elementReference>$Record.Placement_Opportunity__r.Elevator_Pitch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_this_cohort__c</field>
            <value>
                <elementReference>$Record.Placement_Opportunity__r.Place_this_Cohort__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rationale_for_placement__c</field>
            <value>
                <elementReference>$Record.Placement_Opportunity__r.Rationale_for_placement__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement_Opportunity</name>
        <label>Update Placement Opportunity</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Roll_Placement_Opp_fields_to_Position</targetReference>
        </connector>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <stringValue>Positions identified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Placement_Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_School_Business_Manager_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Placement_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Position__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
