force-app/main/default/flows/Populate_Unique_Key_On_Affiliation_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>check_dates</name>
        <label>check dates</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_status_to_former</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe5__EndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe5__EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_status_to_current</targetReference>
            </connector>
            <label>Current</label>
        </rules>
    </decisions>
    <description>Populate Unique Key On Affiliation Record</description>
    <environments>Default</environments>
    <formulas>
        <name>compoundKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.npe5__Organization__c}+{!$Record.npe5__Contact__c}</expression>
    </formulas>
    <formulas>
        <name>isActiveCalc</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!$Record.npe5__Status__c}, &apos;Current&apos;)), true, false)</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Populate Unique Key On Affiliation Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Unique Key On Affiliation Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>populate_isActive_Field</name>
        <label>populate isActive Field</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>update_compount_Key</targetReference>
        </connector>
        <inputAssignments>
            <field>isActive__c</field>
            <value>
                <elementReference>isActiveCalc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_status_to_current</name>
        <label>set status to current</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>populate_isActive_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_status_to_former</name>
        <label>Set status to former</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>populate_isActive_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>npe5__Status__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_compount_Key</name>
        <label>update compount Key</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Compound_Key__c</field>
            <value>
                <elementReference>compoundKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_dates</targetReference>
        </connector>
        <object>npe5__Affiliation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
