force-app/main/default/flows/Position_IA_and_School_sent_Confirmation_of_Placement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NT_IA_Placement_Confirmation_Email</name>
        <label>NT IA Placement Confirmation Email</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <actionName>Position__c.Send_IA_Confirmation_of_Placement_NT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Business_Manager_Exists_NT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_IA_Confirmation_of_Placement_NT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NT_School_Placement_Confirmation_Email</name>
        <label>NT School Placement Confirmation Email</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_NT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_NT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_NT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NT_School_Placement_Confirmation_Email_with_BM</name>
        <label>NT School Placement Confirmation Email with BM</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_NT_with_BM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_NT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_NT_with_BM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SA_IA_Placement_Confirmation_Email</name>
        <label>SA IA Placement Confirmation Email</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <actionName>Position__c.Send_IA_Confirmation_of_Placement_SA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Business_Manager_Exists_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_IA_Confirmation_of_Placement_SA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SA_School_Placement_Confirmation_Email</name>
        <label>SA School Placement Confirmation Email</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_SA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_SA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SA_School_Placement_Confirmation_Email_with_BM</name>
        <label>SA School Placement Confirmation Email with BM</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_SA_with_BM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_SA_with_BM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TAS_IA_Placement_Confirmation_Email</name>
        <label>TAS IA Placement Confirmation Email</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <actionName>Position__c.Send_IA_Confirmation_of_Placement_TAS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Business_Manager_Exists_TAS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_IA_Confirmation_of_Placement_TAS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TAS_School_Placement_Confirmation_Email</name>
        <label>TAS School Placement Confirmation Email</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_TAS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_TAS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_TAS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TAS_School_Placement_Confirmation_Email_with_BM</name>
        <label>TAS School Placement Confirmation Email with BM</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_TAS_with_BM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_TAS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_TAS_with_BM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>VIC_IA_Placement_Confirmation_Email</name>
        <label>VIC IA Placement Confirmation Email</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <actionName>Position__c.Send_IA_Confirmation_of_Placement_VIC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Business_Manager_Exists_VIC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_IA_Confirmation_of_Placement_VIC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>VIC_School_Placement_Confirmation_Email</name>
        <label>VIC School Placement Confirmation Email</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_VIC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_VIC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_VIC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>VIC_School_Placement_Confirmation_Email_with_BM</name>
        <label>VIC School Placement Confirmation Email with BM</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_VIC_with_BM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_VIC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_VIC_with_BM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WA_IA_Placement_Confirmation_Email</name>
        <label>WA IA Placement Confirmation Email</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>Position__c.Send_IA_Confirmation_of_Placement_WA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Business_Manager_Exists_WA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_IA_Confirmation_of_Placement_WA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WA_School_Placement_Confirmation_Email</name>
        <label>WA School Placement Confirmation Email</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_WA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_WA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_WA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WA_School_Placement_Confirmation_Email_with_BM</name>
        <label>WA School Placement Confirmation Email with BM</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Position__c.Send_School_Confirmation_of_Placement_WA_with_BM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IA_Confirmed_Placement_Email_Sent_WA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Send_School_Confirmation_of_Placement_WA_with_BM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Business_Manager_Exists_NT</name>
        <label>Business Manager Exists NT</label>
        <locationX>2294</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>NT_School_Placement_Confirmation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NT No BM</defaultConnectorLabel>
        <rules>
            <name>NT_BM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Business_Manager_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>NT_School_Placement_Confirmation_Email_with_BM</targetReference>
            </connector>
            <label>NT BM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Manager_Exists_SA</name>
        <label>Business Manager Exists SA</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>SA_School_Placement_Confirmation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SA No BM</defaultConnectorLabel>
        <rules>
            <name>SA_BM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Business_Manager_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SA_School_Placement_Confirmation_Email_with_BM</targetReference>
            </connector>
            <label>SA BM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Manager_Exists_TAS</name>
        <label>Business Manager Exists TAS</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>TAS_School_Placement_Confirmation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TAS No BM</defaultConnectorLabel>
        <rules>
            <name>TAS_BM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Business_Manager_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TAS_School_Placement_Confirmation_Email_with_BM</targetReference>
            </connector>
            <label>TAS BM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Manager_Exists_VIC</name>
        <label>Business Manager Exists VIC</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>VIC_School_Placement_Confirmation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VIC No BM</defaultConnectorLabel>
        <rules>
            <name>VIC_BM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Business_Manager_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>VIC_School_Placement_Confirmation_Email_with_BM</targetReference>
            </connector>
            <label>VIC BM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Manager_Exists_WA</name>
        <label>Business Manager Exists WA</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>WA_School_Placement_Confirmation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WA No BM</defaultConnectorLabel>
        <rules>
            <name>WA_BM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Business_Manager_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>WA_School_Placement_Confirmation_Email_with_BM</targetReference>
            </connector>
            <label>WA BM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>State</name>
        <label>State</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WA_IA_Placement_Confirmation_Email</targetReference>
            </connector>
            <label>WA</label>
        </rules>
        <rules>
            <name>VIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIC_IA_Placement_Confirmation_Email</targetReference>
            </connector>
            <label>VIC</label>
        </rules>
        <rules>
            <name>TAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAS_IA_Placement_Confirmation_Email</targetReference>
            </connector>
            <label>TAS</label>
        </rules>
        <rules>
            <name>SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_IA_Placement_Confirmation_Email</targetReference>
            </connector>
            <label>SA</label>
        </rules>
        <rules>
            <name>NT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NT_IA_Placement_Confirmation_Email</targetReference>
            </connector>
            <label>NT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Position - IA and School sent Confirmation of Placement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Position - IA and School sent Confirmation of Placement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>IA_Confirmed_Placement_Email_Sent_NT</name>
        <label>IA Confirmed Placement Email Sent NT</label>
        <locationX>2294</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>School_Confirmed_Placement_Email_Sent_NT</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IA_Confirmed_Placement_Email_Sent_SA</name>
        <label>IA Confirmed Placement Email Sent SA</label>
        <locationX>1766</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>School_Confirmed_Placement_Email_Sent_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IA_Confirmed_Placement_Email_Sent_TAS</name>
        <label>IA Confirmed Placement Email Sent TAS</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>School_Confirmed_Placement_Email_Sent_TAS</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IA_Confirmed_Placement_Email_Sent_VIC</name>
        <label>IA Confirmed Placement Email Sent VIC</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>School_Confirmed_Placement_Email_Sent_VIC</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IA_Confirmed_Placement_Email_Sent_WA</name>
        <label>IA Confirmed Placement Email Sent WA</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>School_Confirmed_Placement_Email_Sent_WA</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IA sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>School_Confirmed_Placement_Email_Sent_NT</name>
        <label>School Confirmed Placement Email Sent NT</label>
        <locationX>2294</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Next_Steps_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>School_Confirmed_Placement_Email_Sent_SA</name>
        <label>School Confirmed Placement Email Sent SA</label>
        <locationX>1766</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Next_Steps_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>School_Confirmed_Placement_Email_Sent_TAS</name>
        <label>School Confirmed Placement Email Sent TAS</label>
        <locationX>1238</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Next_Steps_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>School_Confirmed_Placement_Email_Sent_VIC</name>
        <label>School Confirmed Placement Email Sent VIC</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Next_Steps_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>School_Confirmed_Placement_Email_Sent_WA</name>
        <label>School Confirmed Placement Email Sent WA</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Next_Steps_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>School sent Placement Confirmation email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Next_Steps_fields</name>
        <label>Update Next Steps fields</label>
        <locationX>1436</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>IA_sent_Placement_Next_Steps_email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Sent_Placement_Next__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>State</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_sent_to_school__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School_approved_tentative_match__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RAM_to_communicate_tentative_match__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IA_approved_placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>IA_Contact_Details_Sent_to_School__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IA_spoke_to_school__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X6_Call_Guide_sent_to_IA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School_approved_placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
