force-app/main/default/flows/SendMail_SelectedRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>672</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!IterateOverIds} ,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Affiliation_Record_Selected</name>
        <label>Check If Affiliation Record Selected</label>
        <locationX>156</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>No_Record_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Affiliation Record Not Selected</defaultConnectorLabel>
        <rules>
            <name>Affiliatio_Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordSelectedRecord</targetReference>
            </connector>
            <label>Affiliatio Record Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SendMail - SelectedRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendMail - Selected Records</label>
    <loops>
        <name>IterateOverIds</name>
        <label>IterateOverIds</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Affiliation_Record_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>dsdsd</description>
        <name>No_Record_Selected</name>
        <label>NoRecordSelected</label>
        <locationX>99</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;No Affiliation Record Selected. Kindly selected atleast one Affiliation record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordSelectedRecord</name>
        <label>RecordSelectedRecord</label>
        <locationX>584</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>RecordListView</name>
            <extensionName>c:sendEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ids</name>
                <value>
                    <elementReference>RecordIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IterateOverIds</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
