force-app/main/default/flows/Sending_SMS_to_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_Email_Action_1</name>
        <label>Send SMS Email Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>SendEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Shor_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>conId</name>
            <value>
                <elementReference>Getting_contact_details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Message_Content</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>smsSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>Getting_contact_details.Burst_SMS_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Sending SMS to Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending SMS to Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Getting_contact_details</name>
        <label>Getting contact details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_SMS_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Getting_SMS_Content</name>
        <label>Getting SMS Content</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_SMS_Email_Action_1</targetReference>
        </connector>
        <fields>
            <name>Message_Content</name>
            <fieldText>Message Content</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shor_Message</name>
        <label>Show Message</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SMS_Error_Message</name>
            <fieldText>&lt;p&gt;SMS Successfully Sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_contact_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>smsSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SMS: Sent By {!$User.FirstName}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
