force-app/main/default/flows/Update_Account_And_Create_Opportunity_When_Account_And_Opp_Are_Empty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Record_Type_Id</name>
        <label>Assign Opportunity Record Type Id</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Opportunity_Record_Type_Id.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organization_Id</name>
        <label>Assign Organization Id</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TFADefaultAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Organization_Detail.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Opportunity_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Is_Empty</name>
        <label>Check Account Is Empty</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>NOT EMPTY</defaultConnectorLabel>
        <rules>
            <name>EMPTY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organization_Id_in_Campaign</targetReference>
            </connector>
            <label>EMPTY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_is_Empty</name>
        <label>Check Opportunity is Empty</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Record</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>Update Account When Account is Empty While creating Campaign
Create Opportunity When Opportunity is Empty While creating Campaign</description>
    <environments>Default</environments>
    <formulas>
        <description>TFA Default Account : Teach for Australia</description>
        <name>TFADefaultAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.TFA_Default_Account}</expression>
    </formulas>
    <interviewLabel>Update Account And Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign : Update Account And Create Opportunity When Account And Opp.  Are Empty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignRecordIdToReference>NewlyCreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity_Id_in_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>TFADefaultAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting and Research</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Opportunity_Record_Type_Id</name>
        <label>Fetch Opportunity Record Type Id</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>University</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Organization_Detail</name>
        <label>Fetch Organization Detail</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Organization_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TFADefaultAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Id_in_Campaign</name>
        <label>Update Opportunity Id in Campaign</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>NewlyCreatedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_Id_in_Campaign</name>
        <label>Update Organization Id  in Campaign</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Opportunity_is_Empty</targetReference>
        </connector>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>TFADefaultAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Organization_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewlyCreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TFADefaultAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
